@model TPLOCAL1.Models.ListeAvis
@{
    ViewData["Title"] = "ListeAvis";
}

<!DOCTYPE html>
<html>
<head>
    <title>Formulaire</title>
    <link rel="stylesheet" href="~/ressources/Index.css" />
</head>
<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index/Index">Acceuil</a></li>
            <li><a href="/Home/Index/Formulaire">Formulaire</a></li>
        </ul>
    </nav>
    <table>
        <caption align="top">Liste</caption>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Avis donné</th>
        </tr>
        @{
            var liste = ViewData["Liste"] as ListeAvis;
        }
        @foreach (Avis avis in liste.GetAvis("C:/Users/gigi9/source/repos/TP2-MAN/FichierXML/DataAvis.xml"))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => avis.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => avis.Prenom)
                </td>
                @if (avis.AvisDonne == "O"){
                <td style="background-color:green">
                    Oui
                </td>
                }
                @if (avis.AvisDonne == "N")
                {
                    <td style="background-color:red">
                        Non
                    </td>
                }
            </tr>
        }
    </table>
</body>
</html>
@{
    Layout = null;
}