@{
    ViewData["Title"] = "ListeAvis";
}

<!DOCTYPE html>
<html>
<head>
    <title>Formulaire</title>
    <link rel="stylesheet" href="~/ressources/Index.css" />
</head>
<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Liste des avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index/Index">Acceuil</a></li>
            <li><a href="/Home/Index/Formulaire">Formulaire</a></li>
        </ul>
    </nav>
    <table>
        <caption align="top">Liste</caption>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Avis donné</th>
        </tr>
    </table>
</body>
</html>
@{
    Layout = null;
}