@model TPLOCAL1.Models.FormulaireModel
@{
    ViewData["Title"] = "ValidationFormulaire";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page de Validation</title>
    <link rel="stylesheet" href="~/ressources/Index.css" />
</head>
<body>
    <header>
        <img src="~/ressources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Page de validation</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index/Index">Acceuil</a></li>
            <li><a href="/Home/Index/Listeavis">Liste avis</a></li>
        </ul>
    </nav>
    <p>Votre formulaire a bien été pris en compte.</p>
    <table>

    </table>
</body>
</html>